/*
    Adjustment settings
    0. Grid
    1. Header
        1.1 Nav
        1.2 Registration
    2. Logo
*/

/***
**
** Adjustment Settings
**
***/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PTSansNarrowRegular', sans-serif;
}

.section-title{
    text-transform: uppercase;
    color:#000;
    font-weight: normal;
    font-family:  'PTSansNarrowBold';

   margin:0 0 0 70px;
   font-size: 40px;
}

.page-btn{
    background: transparent;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    padding:15px 30px 13px 30px;
    text-transform: uppercase;
    font-family: 'PTSansNarrowBold';
    border: 1px solid rgba(229, 221, 213, .4);
    cursor: pointer;
    transition: border .1s ease-in-out;

}

.page-btn:hover{
    
    border-color: rgba(229, 221, 213, 1) ;
}

.page-btn:active{
  background: #d5cdbd;
  color: rgba(0,0,0, .3);
}

/***
**
** 0. Grid
**
***/

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
    width: 960px;
    position:relative;
}
.column-wrap {
    font-size: 0;
}
.column-wrap > div {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}
.column-4 {
    width: 67%;
}
.column-2 {
    width: 33%;
}


/***
**
** 1. Header
**
***/

.header {
    background: #000;
    width: 100%;
}



/***
**
** 1.1 Nav
**
***/

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin: 0 30px;

}
.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    padding: 26px 0 26px 0;
    position: relative;
}

.nav-link:before,
 .nav-link:after{
  content: '';
  height: 3px;
  width: 0%;
  background:#826550;
  position: absolute;
  bottom: 0;
  transition: width .2s linear; /*linear ease-in ease-out esae-in-out*/
 
}


.nav-link:before{
    right: 50%;
}
.nav-link:after{
    left: 50%;
}

.nav-link:hover:before,
 .nav-link:hover:after{
    width:50%;
}






/***
**
** 1.2 Registration
**
***/

.header-btn-wrap {
    text-align: right;
    padding-right: 30px;
}
.login-btn {
    background: none;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'PTSansNarrowRegular';
    font-size: 18px;
    padding: 0 0 0 35px;
    background: url('../img/login.svg') center left no-repeat;
    letter-spacing: .8px;
}

.login-btn:hover {
    color: #826550;
}


/***
**
** 2. Logo
**
***/

.logo-wrap {
    background: url('../img/back-desktop.jpg') center center no-repeat;
    background-size: cover;
    padding: 55px 0 455px 0;
    text-align: center;
}

.statistics {
    background: #fff;
   margin-top: -160px;
   position:relative;
   z-index: 9;

}

.column-4--statistics-column {
    float: right;

}

.statistics-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.statistics-item {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    min-height: 160px;
    padding: 20px 35px;
    vertical-align: top;
}

.statistics-count {
    color: #fff;
    font-family: 'PTSansNarrowBold';
    font-size: 72px;
}

.statistics-count-descr {
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 20px;
}

.statistics-item:nth-child(1) {
    background: #404040;
}
.statistics-item:nth-child(2) {
    background: #4e4e4e;
}
.statistics-item:nth-child(3) {
    background: #353535;
}
.statistics-item:nth-child(4) {
    background: #404040;
}

.statistics__header-wrap{
    padding:30px 40px;
    position: relative;

}

.statistics__header-wrap:before{
    content: '';
    position: absolute;
    border: 12px solid transparent;   
     border-top: 8px solid #fff;
      border-right: 20px solid #fff;
   left: -20px;
   top:40px;
}

.statistics__title{
    font-size: 40px;
    line-height: 40px;
    color: #000;
    font-weight: normal;
    font-family: 'PTSansNarrowBold', sans-serif;
    margin:0 0  45px 0;
}

.statisctics__descr{
    margin:0;
    font-size: 20px;
    line-height: 27px;
    color:#000;
    margin:0 0  35px 0;
}

.statistics__note{
    color: rgba(0,0,0.3);
    font-size: 20px;
    line-height: .9;
}


.features{
    background:#353535;
    margin-top: -160px;
    padding-top: 160px;
  padding-top:240px;
  padding-bottom: 240px 0 105px 0;

}

.features__list{
   
    margin:0;
    padding:0;
    list-style: none;
    font-size:0;
}

.features__item{
    padding:0 40px;
    text-align: center;
   width: 320px;
   display:inline-block;
}

.features__item:not(:last-child){
  border-right: 1px solid rgba(255,255,255,.1);
  
}

.features-title{
    margin:25px 0 0 0;
    color:#FFF;

    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    font-family:  'PTSansNarrowBold';
}

.features-descr{
    margin:20px 0 0 0;
    line-height: 27px;
    font-size: 20px;
    color:#fff;
}

/*news*/
.news {
    padding: 119px 0 40px 0;
    border-bottom: 1px solid #e5ddd5;
    background: #f8f5f2;
    position: relative;
    font-size: 0;
}

.news:after,
.news:before {
    border-bottom: 4vw solid #f8f5f2; 
    top: -58px;
    content: "";
    position: absolute;
}
.news:before {
    border-right: 50vw solid transparent;
    left: 0;
}
.news:after {
    border-left: 50vw solid transparent;
    right: 0;
}

.column-2--btn-wrap {
    text-align: right;
}

.news__item {
    margin-top: 60px;
    width: 320px;
    padding-right: 40px;
    display: inline-block;
}

.news__link {
    display: block;
    text-decoration: none;
}

.news__date-wrap {
    width: 50px;
    display: block;
    background: #000;
    color: #fff;
    padding: 8px 0 5px 0;
    position: relative;
    float: left;
}

.news__date-wrap:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border: 25px solid transparent;
    border-top: 8px solid #000;
}

.news__date {
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: 'PTSansNarrowBold';
    line-height: .8;
}

.news__month {
    font-size: 16px;
    text-align: center;
    display: block;
    line-height: 1;
}
.news__descr {
    margin: -12px 0 0 0;
    color: #000;
    font-size: 18px;
    line-height: 27px;
    padding-left: 70px;
}

.testimonials{
    padding:40px  0;
}

.testimonials__slider-wrap{
    margin-top: 40px;
    padding: 0 70px;
    position: relative;
}

.testimonials__slider-btn{
    border:1px solid #e5ddd5;
    background: transparent;
    position: absolute;
    top:0;
    bottom: 0;
    width: 50px;
}



.testimonials__slider-btn--prev{
    left:0;
}

.testimonials__slider-btn--next{
    right:0;
}
.testimonials__slider-item{
    margin:0 ;
    font-size: 0;

}

.testimonials__slider-img-wrap,
.testimonials__slider-descr-wrap
{
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.testimonials__slider-img-wrap{
    width: 250px;
}
.testimonials__slider-img{
    max-width: 100%;
    display: block;
}

.testimonials__slider-descr-wrap{
    width: calc(100% - 250px);
   border: 1px solid #e5ddd5;
   min-height: 160px;
   border-left: none;
  padding: 30px 70px 0 70px;
}

.testimonials__slider-title{
    color: #000;
    font-weight: normal;
    font-size: 24px;
    margin:0;
    font-family: 'PTSansNarrowBold';
}

.testimonials__slider-descr{
    color: #000;
    line-height: 27px;
    font-size: 18px;
    margin: 15px 0 0 0;
}